@model MovieCrud.Models.Movie

<h2>Update</h2>
<hr/>
<form method="POST" asp-action="Update" asp-controller="Home">

<p>
    <input asp-for="Name" class="form-control">
    </p>
<p>
    <input asp-for="Year" class="form-control" type="number" />
    </p>
<p>
    <input type="submit" title="Update" class="btn btn-default"/>
    </p>

<p>
        <a asp-action="index" asp-controller="home">Back to List</a>
</p>
</form>